#content {
  width: 100%;
}

#greeting-container {
  margin-top: 20px;
}

.name-container {
    width: 70%;
    height: 26vh;
    background-color: #FDF6F2;
    float: left; 
    text-align: center;
}

.name-container-content {
    display: inline-block;
    background-color: rgb(182, 68, 2);
    font-size: 25px;
}

.name-container-img{
    padding-top: 3%;  
    height: 93%;
}

.contact-container {
    width: 30%;
    height: 26vh;
    background-color: #C0D8E3;
    float: right;
}

.description-container {
    width: 100%;
    height: 30vh;
    background-color: #BECBCC;
    float: right;
}