p {
   margin: 0px;
   padding: 0px;
}

#content {
  width: 100%;
  min-width: 596px;
}

#greeting-container {
  margin-top: 20px;
}

.name-container {
    width: 70%;
    height: 29vh;
    background-color: #FDF6F2;
    float: left;
    max-height: 340px;
    max-width: 544;
    min-height: 203px;
}

.name-container-content {
    width: 100%;
	  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container-img{
    height: 100%;
    width: 100%;
    max-height: 340px;
    max-width: 340px;
}

.contact-container {
    width: 30%;
    height: 29vh;
    background-color: #C0D8E3;
    float: right;
    max-height: 340px;
    min-height: 203px;
}

.contact-container-content {
    width: 100%;
	  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container-content ul {
	  position: relative;
	  list-style: none;
	  margin-left: 0;
}

.contact-container-content a{
  font-size: 1.3vw;
  color: #2C3C43;
}

.skill-container {
    width: 100%;
    height: 50vh;
    background-color: #BECBCC;
    float: right;
    max-height: 490px;
    min-height: 380px;
}

.skill-container hr {
    border-width: 1px;
    color: black;
    width: 60%;
}

.skill-container-content {
    width: 100%;
	  height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.skill-container-left {
  width: 50%;
  height: auto%;
  display: flex;
  justify-content: center;
  float: left;
}

.skill-container-left ul {
    width: 60%;
}

.skill-container-left li {
    font-size: 1.2em;
}

.skill-container-right {
  width: 50%;
  height: auto%;
  display: flex;
  justify-content: center;
  float: right;
}

.skill-container-right ul {
    width: 60%;
}

.skill-container-right li {
    font-size: 1.2em;
}

.skill-container-header {
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
}

.skill-progress {
  width: 100%;
  background-color: white;
}

.pink-bar-90 {
  width: 90%;
  height: 20px;
  background-color: #F3CFBF;
  text-align: center;
  line-height: 30px;
  color: white;
}

.pink-bar-40 {
  width: 40%;
  height: 20px;
  background-color: #F3CFBF;
  text-align: center;
  line-height: 30px;
  color: white;
}

.pink-bar-70 {
  width: 70%;
  height: 20px;
  background-color: #F3CFBF;
  text-align: center;
  line-height: 30px;
  color: white;
}

.pink-bar-60 {
  width: 60%;
  height: 20px;
  background-color: #F3CFBF;
  text-align: center;
  line-height: 30px;
  color: white;
}

.pink-bar-98 {
  width: 98%;
  height: 20px;
  background-color: #F3CFBF;
  text-align: center;
  line-height: 30px;
  color: white;
}

.blue-bar-50 {
  width: 50%;
  height: 20px;
  background-color: #97BBC2;
  text-align: center;
  line-height: 30px;
  color: white;
}

.blue-bar-90 {
  width: 90%;
  height: 20px;
  background-color: #97BBC2;
  text-align: center;
  line-height: 30px;
  color: white;
}

.blue-bar-60 {
  width: 60%;
  height: 20px;
  background-color: #97BBC2;
  text-align: center;
  line-height: 30px;
  color: white;
}

.projects-container {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background-color: #E18A7A;
    float: right;
}

.square-container-text {
    width: 100%;
    padding-top: 30%;
    text-align: center;
    font-style: italic;
}

.square-container-text h1 {
    font-size: 8vw;
}

.square-container-text p {
    font-size: 3.5vw;
}

.project1-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #FFFFFF;
    float: left;
}

.project2-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #8B6F61;
    float: right;
}

.project3-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #F3CFBF;
    float: left;
}

.project4-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #FFFFFF;
    float: right;
}

.experience-container {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background-color: #D89D73;
    float: left;
}

.experience1-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #D6C59C;
    float: left;
}

.experience2-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #FFFFFF;
    float: right;
}

.experience3-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #FFFFFF;
    float: left;
}

.experience4-container {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-color: #EEDFBE;
    float: right;
}

.comments-container {
    width: 100%;
    height: auto;
    background-color: #E0AEA4;
}

.comments-container-title{
    padding-top: 25px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}



#collection-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 100px;
}

#comments-container {
    width: 80%;
    border: #E0AEA4;
}

#comments-container li{
    background-color: #EFD2CB;
    border: 1px solid #E0AEA4;
    height: 60px;
}

#comments-container li button{
    float: right;
    background-color: #E0AEA4;
  }

#input-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

#comments-box {
    width: 80%;
}

#comments-box textarea {
    background-color: #F6E4DF;
}

#comments-box button {
    background-color: #EFD2CB;
}
